/* Configurable classes */

/* 

.axes {
}

.xAxis {
}

.yAxis {
}

.axisLabel {
}

.grid {
} 

*/

.axes text {
    font-family: Geist, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.grid {
    color: gray;
    opacity: 0.25;
}

