.axes {
    border: 1px solid black;
}

.x-axis {
    border: 1px solid black;
}

.y-axis {
    border: 1px solid black;
}

.axis-label {
    border: 1px solid black;
}

.grid {
    border: 1px solid black;
}

