:root {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
