.chart {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.chart text {
    font-family: Geist;
    font-size: 12px;
}

.plotWrapper {
    position: relative;
    padding: 0.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.75em;
}

.plot {
    flex: 1;
    min-width: 0;
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}

.legend {
    position: absolute;
    width: fit-content;
    height: fit-content;
    max-width: 130px;
    font-size: 12px;
}

.legendGroup {
    display: flex;
    flex-direction: column;
}

.legendTitle {
    margin-bottom: 5px;
}

.tooltip {
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    max-width: 200px;
    font-size: 0.75em;
    padding: 0.5em;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    pointer-events: none;
    z-index: 100;
    opacity: 0; /* Invisible when initialized */
}

.footer {
    padding: 0;
}

.footer p {
    margin: 0;
}

.captions {
    font-size: 0.75em;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.grid {
    color: gray;
    opacity: 0.25;
}

/* Configurable classes */

/* 

.axes {
}

.xAxis {
}

.yAxis {
}

.axisLabel {
}

.grid {
} 

*/
